{% extends './base.html' %}
{% block titulo %}
    <title>Index</title>
{% endblock %}
{% block contenido %}
    <a href="{{ url_for('crear') }}" class="btn btn-success my-2" id="addMovie">Agregar estudiante</a>
    <table class="table">
        <thead class="table-head">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Edad</th>
            <th scope="col">Foto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for key, value in datos.items() %}
          <tr>
            <th scope="row">{{ value.codigo }}</th>
            <td>{{ value.nombre }}</td>
            <td>{{ value.correo }}</td>
            <td>{{ value.edad }}</td>
            <td><img src="https://{{bucket}}.s3.us-east-2.amazonaws.com/{{ value.img }}" alt="Imagen de S3" style="height: 100px;" class="imgTable"></td>
            <td>
              <a href="/eliminado/{{key}}/{{value.img}}" class="btn btn-danger">Eliminar</a>
              <a href="/editar/{{key}}/{{value.img}}" class="btn btn-primary">Editar</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}